<title><%= site.title %> | <%= page.title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="<%= site.root %>/css/main.css" rel="stylesheet">
<link rel="shortcut icon" href="images/favicon.png">
<script src="<%= site.root %>/js/main.js" defer></script>